/* General styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Arial', sans-serif;
}

body {
    line-height: 1.6;
}

.container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.about-container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}


.wakatime-container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}


.portfolio-container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.certifications-container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.resume-container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}

.service-container {
    width: 90%;
    margin: auto;
    max-width: 1200px;
}







/* Navbar */
.navbar {
    background: #333;
    color: #fff;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.navbar .logo {
    color: #fff;
    font-size: 1.5em;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1em;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0.5em 1em;
    transition: background 0.3s;
}

.nav-links a:hover {
    background: #444;
    border-radius: 4px;
}







/* Menu toggle for mobile */
.menu-toggle {
    display: none;
}







/* Hero Section */
.hero {
    height: 100vh;
    background: url('Assets/intro-bg.jpg') no-repeat center center/cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    animation: fadeIn 2s ease;
}

.hero h1 {
    font-size: 3em;
}

.hero p {
    margin-top: 1em;
    font-size: 1.2em;
}

.btn {
    background: #ff7f50;
    color: #fff;
    padding: 0.75em 1.5em;
    margin-top: 1em;
    text-decoration: none;
    border-radius: 5px;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #ff6347;
}








/* about Section */
.about {
    padding: 8em 0;
    background:#111111;
    text-align: center;
}

.about h2 {
    font-size: 2.5em;
    margin-bottom: 0em;
    color: #f3e7e7;

}

.about h3 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: #f3e7e7;

}

.about h4 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    color: #f3e7e7;

}

.about h5 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    color: #f3e7e7;

}

.about-filters {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.filter-btn {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-btn.active, .filter-btn:hover {
    background: #ff7f50;
}

.about-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 2em;
}

.about-item img {
    width: 100%;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.about-item img:hover {
    transform: scale(1.25);
}



/* wakatime Section */
.wakatime {
    padding: 8em 0;
    background:#222222;
    text-align: center;
}

.wakatime h2 {
    font-size: 2.5em;
    margin-bottom: 0em;
    color: #f3e7e7;

}

.wakatime h3 {
    font-size: 1.5em;
    margin-bottom: 1.5em;
    color: #f3e7e7;

}

.wakatime h4 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    color: #f3e7e7;

}

.wakatime h5 {
    font-size: 2.5em;
    margin-bottom: 1.5em;
    color: #f3e7e7;

}

.wakatime-filters {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.filter-btn {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-btn.active, .filter-btn:hover {
    background: #ff7f50;
}

.wakatime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 2em;
}

.wakatime-item img {
    width: 100%;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.wakatime-item img:hover {
    transform: scale(1.25);
}







/* Certifications Section */
.certifications {
    padding: 8em 0;
    background: #2e2d2d;
    text-align: center;
}

.certifications h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #f3e7e7;

}

.certifications-filters {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.certifications-filter-btn {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.certifications-filter-btn.active, .certifications-filter-btn:hover {
    background: #ff7f50;
}

.certifications-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 10em;
}

.certifications-item img {
    width: 100%;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.certifications-item img:hover {
    transform: scale(1.5);
}







/* Portfolio Section */
.portfolio {
    padding: 8em 0;
    background:#242323;
    text-align: center;
}

.portfolio h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #f3e7e7;

}

.portfolio-filters {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.filter-btn {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-btn.active, .filter-btn:hover {
    background: #ff7f50;
}

.portfolio-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 2em;
}

.portfolio-item img {
    width: 100%;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.portfolio-item img:hover {
    transform: scale(1.25);
}





/* Resume Section */
.resume { 
    padding: 8em  0;
    background:#3d3c3c;
    text-align: center;
}

.resume h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #f3e7e7;

}

.resume-filters {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;

}

.resume-filter-btn {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.resume-filter-btn.active, .resume-filter-btn:hover {
    background: #ff7f50;
}

.resume-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1em;
}

.resume-item img {
    width: 100%;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.resune-item img:hover {
    transform: scale(1.25);
}






/* Service Section */
.service {
    padding: 8em 0;
    background: #474646;
    text-align: center;
}

.service h2 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #f3e7e7;
}

.service-filters {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 2em;
}

.filter-btn {
    background: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}

.filter-btn.active, .filter-btn:hover {
    background: #ff7f50;
}

.service-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
    gap: 1em;
}

.service-item img {
    width: 100%;
    display: block;
    border-radius: 30px;
    transition: transform 0.3s ease;
}

.service-item img:hover {
    transform: scale(1.25);
}








/* Contact Form */
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1em;
    max-width: 600px;
    margin: auto;
}

.contact-form input, .contact-form textarea {
    padding: 1em;
    border: rgb(0, 0, 0);
    border-radius: 8px;
}

.contact-form button {
    background: #ff7f50;
    color: #f3e7e7;
    padding: 0.75em;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.contact-form button:hover {
    background: #ff6347;
}





/* Footer */
footer {
    padding: 1em 0;
    text-align: center;
    background: #222;
    color: #fff;
    font-size: 0.9em;
}





/* Responsive Design */
@media (max-width: 768px) {
    .nav-links {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background: #333;
        width: 100%;
        text-align: right;
    }

    .nav-links.active {
        display: flex;
    }

    .navbar .menu-toggle {
        display: inline-block;
        cursor: pointer;
        color: #fff;
        font-size: 1.5em;
        padding: 0 1em;
    }

    .hero h1 {
        font-size: 2em;
    }

    .portfolio-grid {
        grid-template-columns: 1fr;
    }

    .contact-form input, .contact-form textarea, .contact-form button {
        width: 100%;
    }
}






/* Animations */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}